<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/cache http://www.springframework.org/schema/cache/spring-cache.xsd http://www.springframework.org/schema/util https://www.springframework.org/schema/util/spring-util.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">

    <context:annotation-config/>

    <tx:annotation-driven/>

    <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="org.postgresql.Driver"/>
        <property name="url" value="jdbc:postgresql://localhost:5432/icafe_db"/>
        <property name="username" value="postgres"/>
        <property name="password" value="postgres"/>
    </bean>


    <bean id="transactionManager" class="org.springframework.orm.hibernate5.HibernateTransactionManager">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <bean id="sessionFactory" class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">
        <property name="packagesToScan" value="com.karina.icafe.model"/>
        <property name="dataSource" ref="dataSource"/>
        <property name="hibernateProperties">
            <props>
                <prop key="hibernate.dialect">org.hibernate.dialect.PostgreSQL10Dialect</prop>
                <prop key="hibernate.show_sql">true</prop>
                <prop key="hibernate.hbm2ddl.auto">update</prop>
            </props>
        </property>
    </bean>

    <bean id="persistenceExceptionTranslationPostProcessor"
          class="org.springframework.dao.annotation.PersistenceExceptionTranslationPostProcessor"/>

    <bean id="coffeeSortDao" class="com.karina.icafe.dao.impl.CoffeeSortDaoImpl"/>

    <bean id="orderDao" class="com.karina.icafe.dao.impl.OrderDaoImpl"/>

    <bean id="orderItemDao" class="com.karina.icafe.dao.impl.OrderItemDaoImpl"/>

    <bean id="coffeeSortBean" class="com.karina.icafe.beans.CoffeeSortBean"/>

    <bean id="orderBean" class="com.karina.icafe.beans.OrderBean"/>

    <bean id="orderItemBean" class="com.karina.icafe.beans.OrderItemBean"/>

    <bean id="validatorBean" class="com.karina.icafe.bo.Validator"/>

<!--    <bean id="coffeeSortControllerBean" class="com.karina.icafe.controller.CoffeeSortController"/>-->
</beans>
