<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd     http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">

    <context:annotation-config/>

    <tx:annotation-driven/>

    <context:property-placeholder location="classpath:icafe_vars.properties"/>

    <!-- Hibernate integration beans-->
    <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="org.postgresql.Driver"/>
        <property name="url" value="jdbc:postgresql://localhost:5432/icafe_db"/>
        <property name="username" value="postgres"/>
        <property name="password" value="postgres"/>
    </bean>

    <bean id="transactionManager" class="org.springframework.orm.hibernate5.HibernateTransactionManager">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <bean id="sessionFactory" class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">
        <property name="packagesToScan" value="com.karina.icafe.model"/>
        <property name="dataSource" ref="dataSource"/>
        <property name="hibernateProperties">
            <props>
                <prop key="hibernate.dialect">org.hibernate.dialect.PostgreSQL10Dialect</prop>
                <prop key="hibernate.show_sql">true</prop>
                <prop key="hibernate.hbm2ddl.auto">update</prop>
            </props>
        </property>
    </bean>

    <bean id="persistenceExceptionTranslationPostProcessor"
          class="org.springframework.dao.annotation.PersistenceExceptionTranslationPostProcessor"/>

    <!-- Mapper bean -->
    <bean id="dozerMapper" class="org.dozer.spring.DozerBeanMapperFactoryBean">
        <property name="mappingFiles" value="classpath*:/dozer_mapping.xml"/>
    </bean>

    <!-- DAO beans -->
    <bean id="coffeeSortDao" class="com.karina.icafe.dao.impl.CoffeeSortDaoImpl">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <bean id="orderDao" class="com.karina.icafe.dao.impl.OrderDaoImpl">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <bean id="orderItemDao" class="com.karina.icafe.dao.impl.OrderItemDaoImpl">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <!--Controller beans -->
    <bean id="coffeeSelectionController" class="com.karina.icafe.controller.CoffeeSelectionController"/>
    <bean id="orderMakerController" class="com.karina.icafe.controller.OrderMakerController"/>
    <bean id="orderConfirmController" class="com.karina.icafe.controller.OrderConfirmController"/>

    <!-- Service beans -->
    <bean id="coffeeService" class="com.karina.icafe.service.CoffeeService"/>
    <bean id="calculationServiceBean" class="com.karina.icafe.service.CalculationService"/>

    <!-- Service.Converter beans -->
    <bean id="coffeeSortConverter" class="com.karina.icafe.service.converter.CoffeeSortConverter"/>
    <bean id="orderItemConverter" class="com.karina.icafe.service.converter.OrderItemConverter"/>
    <bean id="orderConverter" class="com.karina.icafe.service.converter.OrderConverter"/>

    <!-- Service.Validator beans -->

    <!-- Service.Connector bean -->
    <bean id="connectorBean" class="com.karina.icafe.service.Connector"/>

</beans>
